.change-role-container {
  color: #2a3843;
}

.change-role-container .role-buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.change-role-container .role-buttons button:first-child {
  width: 50%;
  background-color: #2a3843;
  color: white;
  padding: 20px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.change-role-container .role-buttons button:last-child {
  width: 50%;
  background-color: #f24d49;
  color: white;
  padding: 20px 20px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.change-role-container .role-buttons button:first-child:hover {
  background-color: #f24d49;
  transform: translateY(-5px);
  cursor: pointer;
  transition: all 0.3s ease;
}

.change-role-container .role-buttons button:last-child:hover {
  background-color: #2a3843;
  transform: translateY(-5px);
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-success-role {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 190px;
  padding: 10px 40px;
}

.icon-success-role i {
  color: green;
  font-size: 120px;
}
