.comments-absolute-contain {
    padding: 40px 90px;
}

.comments-absolute-contain > h1 {
    color: #2a3843;
}

.comments-absolute-contain .comment-contain .comment {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 12px 2px rgb(227, 226, 226);
}

.comments-absolute-contain .comment-contain .comment .comment-image {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: 2px 5px 12px 2px rgb(227, 226, 226);
}

.comments-absolute-contain .comment-contain .comment .comment-image img {
    width: 40%;
    object-fit: contain;
}

.comments-absolute-contain .comment-contain .comment .comment-info {
    width: 70%;
}

.comments-absolute-contain .comment-contain .comment .comment-info h6 {
    color: #2a3843;
    font-size: 12px;
}

.comments-absolute-contain .comment-contain .comment .comment-info h2 {
    color: #ff626d;
}

.no-comments-contain {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a3843;
    font-size: 12px;
    box-shadow: 2px 5px 12px 2px rgb(227, 226, 226);
}

/* Leave comment */


.add-comment-contain > h1 {
    color: #2a3843;
}

.add-comment-contain .leave-comment {
    display: flex;
}

.add-comment-contain .leave-comment .leave-comment-img {
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
}

.add-comment-contain .leave-comment .leave-comment-img img {
    width: 80%;
    object-fit: contain;
}

.add-comment-contain .leave-comment .send-comment {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
}

.add-comment-contain .leave-comment .send-comment textarea {
    width: 75%;
    height: 70px;
    padding: 40px 20px;
    font-size: 25px;
    resize: none;
    border: none;
    box-shadow: 2px 5px 12px 2px rgb(227, 226, 226);
}

.add-comment-contain .leave-comment .send-comment button {
    width: 20%;
    height: 70px;
    font-size: 25px;
    background-color: #ff626d;
    border: none;
    color: white;
    cursor: pointer;
}

.add-comment-contain .leave-comment .send-comment button:hover {
    background-color: #2a3843;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}