.auth-contain {
    width: 60%;
    position: fixed;
    top: 150px;
    left: 24%;
    background-color: white;
    z-index: 9999;
}

.cancel-icon {
    width: 6%;
    position: absolute;
    top: -9px;
    left: 95%;
    padding: 20px 0px;
    background-color: #ff626d;
    border-radius: 150px;
    text-align: center;
    cursor: pointer;
}

.cancel-icon:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.cancel-icon i {
    font-size: 20px;
    color: white;
}