.hiw-contain {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.hiw-card {
    width: 24%;
    padding: 30px 40px;
    text-align: center;
    box-shadow: 2px 5px 12px 2px rgb(227, 226, 226);
}

.hiw-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    transition: all 0.3s ease;
}

.hiw-card i {
    color: #f24d49;
    font-size: 38px;
}

.hiw-card h2 {
    color: #4e5c67;
}

.hiw-card h2:hover {
    color: #f24d49;
}

.hiw-card p {
    color: #4e5c67;
}