.ch-pass-contain {
    color: #2a3843;
}

.ch-pass-contain .input-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ch-pass-contain input {
    display: block;
    width: 80%;
    padding: 10px 20px;
    height: 60px;
    font-size: 22px;
}

.ch-pass-contain button {
    width: 40%;
    height: 60px;
    border: none;
    background-color: #f24d49;
    color: white;
    font-size: 22px;
    border-radius: 10px;
}

.ch-pass-contain button:hover {
    background-color: #2a3843;
    transform: translateY(-5px);
    cursor: pointer;
    transition: all 0.3s ease;
}