.ch-pass-contain {
    color: #2a3843;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.ch-pass-contain div {
    width: 70%;
    border: none;
    background-color: #f24d49;
    color: white;
    font-size: 22px;
    border-radius: 10px;
}

.ch-pass-contain div:hover {
    background-color: #2a3843;
    transform: translateY(-5px);
    cursor: pointer;
    transition: all 0.3s ease;
}

.ch-pass-contain div h1 {
    font-size: 28px;
}